<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
	<title>DriveMeOver</title>
	<link rel="stylesheet" href="static/style.css" type="text/css">
</head>
<body>
    
	<div class="page">
        <div class="header">
            <img class ="logo"src="static/hackathon.png"/> 
        </div>
        <div class="page_space">
          <div class="map_box" id="m">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d37189.07690358929!2d18.61353485!3d54.3690439!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2spl!4v1673527308534!5m2!1sen!2spl" width=100% height=100% style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="option_box">
            <img src="static/hackathon.png" class="logo_option"/> 
            <form action="/pass" method="post">
            <fieldset>
              <label class="container2">
                <label for="first_stop">Przystanek początkowy:</label><br>
                <input type="text" id="first_stop" name="first_stop"><br>

                <label for="last_stop">Przystanek końcowy:</label><br>
                <input type="text" id="last_stop" name="last_stop"><br><br>
              </label>
           
                <label class="container">najszybsza opcja
                  <input type="checkbox" checked="checked">
                  <span class="checkmark"></span>
                </label>
                
                <label class="container">najkrótsza opcja
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
           
                <label class="container3">wybierz datę
                  <input type="date" name="date">
                </label>
              
                <label class="container4">wybierz godzinę
                  <input type="time" name="time">
                </label>

                <label class="container4">wybierz przedział kilometrowy
                  <input type="range" name="range" min="0" max="10" step="1" value="0">
                </label>
          </fieldset>
            <input type="reset" value="Reset" class="button"> 
            <input type="submit" value="Submit" class="button">
        </form>
          </div>
        </div>
        <div class="footer">
            <p>Natural Stupidity</p>
        </div>
      </div>
</body>
</html>