<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
	<title>DriveMeOver</title>
	<link rel="stylesheet" href="static/style.css" type="text/css">
</head>
<body>
    
	<div class="page">
        <div class="header">
            <img class ="logo"src="static/hackathon.png"/> 
        </div>
        <div class="page_space">
            
        </div>
        <div class="footer">
            <p>Natural Stupidity</p>
        </div>
      </div>
</body>
</html>