<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
	<title>DriveMeOver</title>
	<link rel="stylesheet" href="static/style.css" type="text/css">
</head>
<body>
    <!-- eta = eta, etd =etd, delta = delta, sname = name -->
	<div class="page">
        <div class="header">
            <img class ="logo"src="static/hackathon.png"/> 
        </div>
        <div class="page_space">
                <h1>Znaleziono połączenie:</h1><br/>
                <h2>Czas przyjazdu: {{eta}}</h2><br/>
                <h2>Czas na miejscu: {{etd}}</h2><br/>
                <h2>Czas przejazdu: {{delta}}</h2><br/>
                <h2>Autobus numer: {{sname}}</h2><br/>
        </div>
        <div class="footer">
            <p>Natural Stupidity</p>
        </div>
      </div>
</body>
</html>